.main-btn {
    background-color: $main-color;
    width: 200px;
    display: block;
    text-align: center;
    padding: 10px;
    color: #fff;
    border-radius: 5px;
    border: 1px solid $main-color;
}