$main-color:#2980b9;
$sub-color:#3498db;
$para-color:#999;

$mobile_screen : "(max-width:767px)";
$small_screen : "(min-width:768px)";
$medium_screen : "(min-width:991px)";
$large_screen: "(min-width:1200px)";
