/* Start Breadcrumb Section */

.crumbs {
    margin:100px 0 0;
    .breadcrumb {
        border:1px solid #ccc;
        padding:15px 10px;
    }
}

/* End Breadcrumb Section */

/* Start Nav Pages */

.nav-color {
    background-color:#333;
    color:#fff;
    .navbar-brand {
        img {
            width:60px !important;
            border-radius:30px;
        }
    }
}

/* End Nav Pages */

/* Start About Intro Section */
.who-us-contnet {
    background: #fff;
    border: 1px solid #CCC;
    margin: 30px 0 20px;
    box-shadow: 1px 1px 1px 1px #CCC;
    border-radius: 5px;
     .who-us-logo {
        img 
            {padding-top:20px;
            max-width: 60%;
            margin-bottom: 30px;
            @media #{$mobile_screen} {
                max-width: 100%;
            }
        }
     }
     h2 {
         span {
             color:$main-color;
         }
     }
     p {
         font-size: 18px;
         line-height:1.9;
         padding:20px;
     }
 }

 /* End About Intro Section */
