/* Start Articles Section */

.article-img {
    padding:40px 0;
    img {
        width:60%;
        margin:auto;
        border:1px solid #CCC;
    }
}

.art-details {
    .art-heading {
        background-color:$main_color;
        color:#fff;
        overflow:hidden;
        padding:10px;
        border:1px solid #CCC;
        margin-bottom:25px;
        h3 {
            float: left;
            margin:0;
        }
        i {
            float:right;
            border:1px solid #CCC;
            width:40px;
            height:40px;
            line-height:40px;
            text-align: center;
            border-radius:50%;
            cursor: pointer;
            transition:all .3s ease-in-out;
            &:hover {
                background-color:$main_color;
            }
            
        }
    }
    .art-desc {
        p {
            color:$para_color;
            font-size:17px;
        }
    }
}


/* End Articles Section */
