
/* Start Pagination Section */

.pages {
    text-align:center;
    .pagination {
        li {
            a {
                padding:10px 15px;
                color:#fff;
                background-color:$main-color;
                border:1px solid $main-color;
                margin:1px;
                border-radius:5px;
            }
        }
    }

}

/* End Pagination Section */